<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div>
                <a [routerLink]="['/admin-dashboard/machines']"> <i class="fas fa-home" style="margin-right: 10px">
            </i> Machines </a>
                <a [routerLink]="['/admin-dashboard/materials']"> <i class="fas fa-home" style="margin-right: 10px">
            </i> Materials </a>
                <a [routerLink]="['/admin-dashboard/sensor']"> <i class="fas fa-home" style="margin-right: 10px"> </i> Sensor </a>
                <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-home" style="margin-right: 10px">
              </i> Manage Users </a>

            </div>
            <!-- <ul class=" navbar-nav">

                <li class="nav-item active"><button class="menubtn">
        <a [routerLink]="['/admin-dashboard/materials']"> <i class="fas fa-home" style="margin-right: 10px">
            </i> Materials </a>
    </button></li>
                <li class="nav-item active"> <button class="menubtn">
                  <a [routerLink]="['/admin-dashboard/materials']"> <i class="fas fa-home" style="margin-right: 10px">
                  </i> Materials </a>
  </button></li>
                <li class="nav-item active"><button class="menubtn">
    <a [routerLink]="['/admin-dashboard/sensor']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
        Sensor </a>
</button></li>
                <li class="nav-item active"><button class="menubtn">
  <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-home" style="margin-right: 10px">
      </i> Manage Users </a>
</button></li>
                <li class="nav-item active"><button class="menubtn" (click)="logout()">
  <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
</button></li>
            </ul>-->
        </div>
    </nav>
</div>










<!--<div id="header" class="row no-gutters ">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
      <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.username}} {{user.usertype}}</p>
  </div>

  <div class="col-md-3">
      <div class="searchContainer">
          <i class="fa fa-search searchIcon"></i>
          <input class="searchBox" type="search" name="search" placeholder="Search...">
      </div>
  </div>
  <div class="col-md-4" style="text-align: center">
      <img src="assets/img/contrader-logo.png" alt="header" style="width:15%; height: 80%; margin-top: 0.2%;">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  <div class="col-md-2" style="display: inline-block">
<a><i class="fas fa-phone" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-bell" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-envelope" style="font-size:25px; padding:12px"></i></a> 
  </div>
</div>-->