p {
    font-size: 14px;
}
table{
    font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 13%;
    
}

td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }

  #primo{
    background-color: #4287f5;
    text-align: right;
    color: white;
  }
  #secondo{
    background-color: #4287f5;
    text-align: left;
    color: white;
  }
  #terzo{
    background-color: #4287f5;
    text-align: center;
    color: white;
  }

  button {
    text-align: center;
  }

  .myImage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }