
 <div class="col-md-10">
  <table>
    <tr>
      <th>

      </th>
      <th>
        Quantità Attuale
      </th>
    </tr>
     <tr *ngFor="let material of materials">
        
        <td>
          Inserire  Kg di materiale da lavorare
        </td>
      <td>
        <input placeholder="Inserire quantità" [(ngModel)]="material.materialsQuantity">
      </td>
      <td>
        <button (click)="calcola(material.materialsQuantity, material)">Avvio macchinario</button>
       </td>
    </tr>
 
  </table>

</div>
