
 <h1 style="text-align: center"> Sono stati inseriti {{provaMaterials}} kg  di GENERIC nella macchina principale.</h1> 
<br>
<div class="container myImage" src="assets/img/contrader-background.jpg" style="background-image: url(assets/img/contrader-background.jpg);">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Scegliere la lavorazione
          </th>
        </tr>
     
          
      <select placeholder="materialname" [(ngModel)]="materialToUpdate.idMaterial">
      <option *ngFor="let material of materials" value={{material.idMaterial}} >{{material.materialType}}</option>
      </select> 
      
     
    <td>
     <!-- <tr *ngFor="let material of materials" >  
          <td>   
           <select [(ngModel)]="material.materialType">
             <option [selected]="material.materialType" value="PAPER">Riciclo carta</option>
             <option [selected]="material.materialType" value="PLASTIC">Riciclo plastica</option>
             <option [selected]="material.materialType" value="GLASS">riciclo vetro</option>
           </select>-->

        </td>
        <td>  
          <button (click)=read(materialToUpdate.idMaterial);toggle() id="bt" >Prepara</button>
          <ng-container *ngIf="show">
          <h1 style="text-align: center"> La macchina è pronta a lavorare</h1> 
         
      
          <button (click)=update(materialToUpdate);toggle2() >Avvio</button> 
        </ng-container>
        <ng-container *ngIf="show2">
          <h1 style="text-align: center"> Sono stati ottenuti {{quantity}} kg  di {{materialToUpdate.materialType| json}}nella macchina principale.</h1> 
        </ng-container>

        </td>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>  

