<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>
              Machine Name
            </th>
            <th>
              Sensor
            </th>
          </tr>
          <tr>
            <td>
              <input placeholder="name" [(ngModel)]="machineToInsert.machineName">
            </td>
            <td>
              <select placeholder="type" [(ngModel)]="machinesensorToInsert.idSensor">
                <option *ngFor ="let sens of sensor" value={{sens.idSensor}}>{{sens.sensor_name}}</option>
              </select>
            </td>
            <td>
              <button (click)="insert2(machinesensorToInsert.idSensor, machineToInsert.machineName)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>

        <tr *ngFor="let machine of machines">
             <td>
              <input [(ngModel)]="machine.machineName">
            </td> 

           {{machine.sensorDto.sensor_name}}

            <td>
              <select  [(ngModel)]="machine.sensorDto.sensor_name">
                <option *ngFor ="let sens of sensor" value={{sens.idSensor}}>{{sens.sensor_name}}</option>
              </select>
            </td>
            <td>
              <button (click)=update(machine)>Save</button>
            </td>
            <td>
              <button (click)="delete(machine)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
  </div>